body{
	background-color: #8B1D00;
}


img {
	margin: 10px;
}

#header {
	font-size: 72px;
	text-shadow: 2px 2px #FFF;
	font-family: sans-serif;
	font-style: italic;
	padding-top: 30px;
	padding-bottom: 30px;
	color: black;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-weight: bold;
}

.searchbar {
	margin-top:15px;
	margin-bottom: 40px;
}

.footer {
	background-color: black;
	height: 140px;
	width:100%;
}

.footer-absolute{
	position: absolute;
	bottom: 0px;
}

#gallary {
	margin-bottom: 55px;
}
